.text{
    position: absolute;
  top: 160px;
  left: 380px;
  /* background-color: rgba(0, 0, 0, 0.5);  */
  padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 3;
}
.text h1{
   font-size: 70px;
}
.but{
      height: 50px;
      width: 150px;
      background-color: orangered;
      border: none;
      color: white;
}
.but:hover{
    background-color: white;   
    color: black;
    border: 1px solid orangered;
    transform: scale(1.1); /* Add a subtle scaling effect */
  transition: all 0.3s ease-in-out;
}
.information{
    position: absolute;
    height: 200px;
    width: 90%;
    background-color: white;
    margin-left: 80px;
    margin-top: 20px;
    display: flex;
    border: 1px solid #ccc; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  top: 550px;
}
.ship{
    height: 150px;
    width: 30%;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
    color: orangered;
    display: flex;
    border-right: 0.5px solid grey;
}
.ship:hover h5{
    cursor: pointer;
    color: orangered;
}
.ship2:hover h5{
    cursor: pointer;
    color: orangered;
}
.ship fa-icon{
    margin-top: 20px;
}
.free{
    margin-top: 40px;
    margin-left: 10px;
    color: black;

    
}
.ship2{
    height: 150px;
    width: 30%;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
    color: orangered;
    display: flex;
}
.ship2 fa-icon{
    margin-top: 20px;
}
.top{
    width: 100%;
    height: 70px;
}
.heading{
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .line{
    height: 5px;
    width: 250px;
    background-color: orangered;
    margin-left: 10px;
  }
  .welcome{
    width: 800px;
    text-align: center;
    margin-top: 40px;
  }
  .banner1{
    height: auto;
    width: 50%;
    /* background-color: aqua; */
    margin-top: 40px;
}
.banner1 img{
    margin-left: 30px;
    margin-top: 10px;
}
.banner1 p{
    position: absolute;
    margin-left: 150px;
    top: 190%;
    font-weight: bolder;
    font-size: large;
    color: orangered;
}
.banner1 h1{
    position: absolute;
    margin-left: 140px;
    top: 195%;
    font-size: 50px;
}
.banner{
    display: flex;
}
.banner2{
    height: auto;
    width: 50%;
    /* background-color: aqua; */
    margin-top: 40px;
}
.banner2 img{
    margin-left: 35px;
    margin-top: 10px;
}
.banner2 p{
    position: absolute;
    margin-left: 450px;
    top: 190%;
    font-weight: bolder;
    font-size: large;
    color: orangered;
}
.banner2 h1{
    position: absolute;
    margin-left: 400px;
    top: 195%;
    font-size: 50px;
}
.cards1{
    height: 300px;
    width: 100%;
    margin-top: 40px;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card1{
    height: 250px;
    width: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 50px;
}
.items{
    position: relative;
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  height: auto; /* Remove fixed height for dynamic content */
  margin-top: 30px;
    width: 100%;
   
    
}
.item-c{
    height: 450px;
    width: 300px;
    /* border: 1px solid black; */
    margin-top: 30px;
    margin-left: 30px;

}

.price{
    margin-top: 5px;
    margin-left: 20px;
}
.star{
    color: yellow;
    align-items: center;
    display: flex;
    justify-content: center;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info p{
    margin: 0;
}
.icon-container{
    position: absolute;
    left: 20%;
    bottom: 0;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s linear;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    background-color: white;
    height: 60px;
    width: 150px;
    border-radius: 45%;
}
.m-img{
    position: relative;
    cursor: pointer;
}
.icon-container fa-icon{
    margin-top: 20px;
    /* margin-right: 5px; */
    margin-left: 10px;
}
.icon-container fa-icon:hover{
    color: orangered;
}
.m-img:hover .icon-container{
    opacity: 1;
} 
.b-container {
    position: relative;
     height: 700px;
     width: 100%;
     display: flex;
     flex-direction: column;
  }
  
  .background-image {
    /* position:absolute; */
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/bg3.jpg"); /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  .nav{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
  }
  .nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
  
  }
  .nav a:hover{
    color: orangered;
  }
  .blogs{
    height: 400px;
    width: 80%;
    /* background-color: aqua; */
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 350px;
    width:30%;
    margin: 20px;
}
.data{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.data h5{
    color: orangered;
    
}
.data h4{
    cursor: pointer;
}
.data h4:hover{
    color: orangered;
}
.data p{
    opacity: 0.5;
    font-weight: bold;
}
.card img{
    opacity: 0.7; 
  transition: opacity 0.5s ease-in-out;
}
.card img:hover{
    opacity: 1;
    cursor: pointer;
}
.logo{
    height: 100px;
    width: 90%;
    /* background-color: aqua; */
    margin-left: 5%;
    display: flex;
    margin-top: 20px;
}
.logo img{
    margin-left: 120px;
    opacity: 0.6;
}
.logo img:hover{
    opacity: 1;
    cursor: pointer;
}
