.empty{
    height: 500px;
    width: 100%;
    /* background-color: black; */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart h1{
   margin-left: 50px;
   margin-top: 50px;
}
.heading{
    margin-top: 10px;
    color: gray;
}
.happy{
    font-size: medium;
}
table {
    border-collapse: collapse;
    width: 100%; /* Adjust width as needed */
}
th, td {

    padding: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: left; /* Adjust alignment as needed */
}


th {
    background-color: white;
    font-weight: bold;
    border: none;

}

.number-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ddd;
  }
  
  .number-button span {
    font-size: 16px;
    margin: 0 7px;
  }
  .total{
    height: 100px;
    width: 100%;
    /* background-color: #ddd; */
    display: flex;
    justify-content: flex-end;
  }
  .total h5{
    margin-top: 50px;
    margin-right: 90px;
  }
  .but{
    height: 50px;
    width: 150px;
    background-color: orangered;
    border: none;
    color: white;
}
.but:hover{
  background-color: white;   
  color: black;
  border: 1px solid orangered;
  transform: scale(1.1); /* Add a subtle scaling effect */
transition: all 0.3s ease-in-out;
}
.buttons{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
  