<div class="tools">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/21.jpg" class="d-block w-100" alt="..." height="450px">
                <div class="text">
                    <div class="left">
                        <h4>Welcome To Tools</h4>
                        <h1>AUTO PARTS</h1>
                        <button class="but">Shop Nows </button>
                    </div>
                    <div class="right">
                        <div class="tools1">
                            <img src="assets/tools-2.png" alt="tool" height="300px">
                        </div>
                        <div class="tools2">
                            <img src="assets/tools-3.png" alt="tool" height="300px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/22.jpg" class="d-block w-100" alt="..." height="450px">
                <div class="text">
                    <div class="left">
                        <h4>Welcome To Tools</h4>
                        <h1>AUTO PARTS</h1>
                        <button class="but">Shop Nows </button>
                    </div>
                    <div class="right">
                        <div class="tools1">
                            <img src="assets/tools-1.png" alt="tool" height="300px">
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
        <div class="top">
            <div class="information">
                <div class="ship">
                    <fa-icon [icon]="truck" class="fa-4x"></fa-icon>
                    <div class="free">
                        <h5>FREE SHIPPING</h5>
                        <p>Free Shippng World Wide</p>
                    </div>
                </div>
                <div class="ship">
                    <fa-icon [icon]="clock" class="fa-4x"></fa-icon>
                    <div class="free">
                        <h5>24 X 7 Service</h5>
                        <p>Online Service for New Customer</p>
                    </div>
                </div>
                <div class="ship2">
                    <fa-icon [icon]="horn" class="fa-4x"></fa-icon>
                    <div class="free">
                        <h5>Festival Offer</h5>
                        <p>New Online Special Festival Offer</p>
                    </div>
                </div>
            </div>
        </div>
    
</div>