<nav class="navbar ">
    <div class="container-fluid">
      <div class="icon">
        <a (click)="toggleSidebar()"><fa-icon [icon]="menu" class="fa-2x"></fa-icon></a>
        <img src="assets/logo.png" alt="logo">
      </div>
      <div class="nav-items">
        <ul>
          <li><div>HOME </div><span>&nbsp;></span>
          </li>
          <li><div>SHOP</div> <span>&nbsp;></span></li>
          <li><div>PRODUCTS</div> <span>&nbsp;></span></li>
          <li><div>FEATURES</div> <span>&nbsp;></span></li>
          <li><div>PAGES</div> <span>&nbsp;></span></li>
          <li><div>BLOGS</div><span>&nbsp;></span></li>
        </ul>
      </div>
    </div>
  </nav>