<header >
    <div class="header">
        <div class="welcome ">
            <p>Welcome to Our store Multikart</p>
            <div class="call">
                <fa-icon [icon]="phone"></fa-icon>
                <p>Call Us: 123-456-7890</p>
            </div>
        </div>
        <div class="options">
            <div class="com">
                <a href="/"><fa-icon [icon]="compare"></fa-icon> Compare</a>
            </div>
            <div class="wish">
                <a href="/"><fa-icon [icon]="heart"></fa-icon> Wishlist</a>
            </div>
            
            <div class="account">
                <a href="">
                    <fa-icon [icon]="user"></fa-icon> My Account
                </a>
                <div class="log">
                    <a href="">LogIn</a>
                    <a href="">LogOut</a>
                </div>
              </div>
            
        </div>
    </div>

</header>
