<div class="page">
    <div class="login">
        <h1>Log In</h1>
        <div class="form">
           <label>Email</label><br/>
           <input type="text" name="Email" id="Email" placeholder="Email">
           <label>Password</label><br/>
           <input type="password" name="pas" id="pass" placeholder="Password">
           <button routerLink="/clothing">Log In</button>
        </div>
    </div>
    <div class="login">
        <h1>Create Account</h1>
        <div class="form">
           <h3>Create A Account</h3>
           <p>Sign up for a free account on our store.Registration is quick and easy.It allows you to br able to order from our shop.To start shopping click register</p>
           <button>Create Account</button>
        </div>
    </div>
    
</div>