<div class="items">
    @for (item of featured; track item) {
      
        <div class="item-c">
         <div class="all">
          <div class="m-img">
          <img src="{{item.imgurl}}" alt="main" width="295px" height="350px">
          <div class="icon-container">
           <fa-icon [icon]="cart"></fa-icon>
           <fa-icon [icon]="search"></fa-icon>
           <fa-icon [icon]="heart"></fa-icon>
           <fa-icon [icon]="compare"></fa-icon>
          </div>
          </div>
          
         
          
       </div>
          <div class="price">
             <div class="star">
             <fa-icon [icon]="star"></fa-icon>
             <fa-icon [icon]="star"></fa-icon>
             <fa-icon [icon]="star"></fa-icon>
             <fa-icon [icon]="star"></fa-icon>
             <fa-icon [icon]="star"></fa-icon>
           </div>
           <div class="info">
           <p>{{item.name}}</p>
           <p>{{item.price}}</p>
         </div>
           
          </div>
        </div>
       }
</div>
