<div class="shoes">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/23.jpg" class="d-block w-100" alt="..." height="450px">
            <div class="text">
                <h4>Special Offer</h4>
                <h1>MEN SHOES</h1>
                <button class="but">Shop Nows </button>
              </div>
          </div>
          <div class="carousel-item ">
            <img src="assets/24.jpg" class="d-block w-100" alt="..." height="450px">
            <div class="text">
                <h4>Special Offer</h4>
                <h1>MEN SHOES</h1>
                <button class="but">Shop Nows </button>
              </div>
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="icons">
        <div class="cats">
            <div class="img">
        <img src="assets/cat1.png" alt="icon">
    </div>
        <h6>Sport Shoes</h6>
    </div>
        <div class="cats">
            <div class="img">
        <img src="assets/cat2.png" alt="icon">
    </div>
        <h6>Casual Shoes</h6>
    </div>
        <div class="cats">
            <div class="img">
        <img src="assets/cat3.png" alt="icon">
    </div>
        <h6>Formal Shoes</h6>
    </div>
        <div class="cats">
            <div class="img">
        <img src="assets/cat4.png" alt="icon">
    </div>
        <h6>Flat</h6>
    </div>
        <div class="cats">
            <div class="img">
        <img src="assets/cat5.png" alt="icon">
    </div>
        <h6>Heels</h6>
    </div>
        <div class="cats">
            <div class="img">
        <img src="assets/cat6.png" alt="icon">
    </div>
        <h6>Boots</h6>
    </div>
    </div>
    <div class="heading">
        <h1>WELCOME TO MULTI STORE</h1>
        <div class="line"></div>
        <div class="welcome">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas impedit qui, provident
            aliquid ipsa magni eum a optio veritatis pariatur doloribus ratione quod similique dolores tempore eius
            nemo. Suscipit, hic. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sapiente cumque
            dolore. Accusantium, dolor. Voluptatibus repellat, doloremque ut blanditiis necessitatibus aliquid alias
            eaque quibusdam accusamus. Culpa tempore necessitatibus unde ullam!</div>
    </div>
    <div class="banner">
        <div class="banner1">
             <img src="assets/banner25.png" alt="logo" height="200">
             <p>SAVE 50%</p>
             <h1>MEN</h1>
        </div>
        <div class="banner2">
             <img src="assets/banner26.png" alt="logo" height="200">
             <p>SAVE 50%</p>
             <h1>WOMEN</h1>
        </div>
      </div>
      <div class="heading">
        <h3>Our Collection</h3>
        <h1>SPECIAL PRODUCTS</h1>
        <div class="line"></div>
    </div>
    <div class="items">
        @for (item of products; track item) {
          
             <div class="item-c">
              <div class="all">
               <div class="m-img">
               <img src="{{item.mainimg}}" alt="main" width="295px" height="350px">
               <img src="{{item.secimg}}" alt="second" width="295px" height="350px" class="hover-image">
               <div class="icon-container">
                <button class="disabled" (click)="addToCart(item)"> <fa-icon [icon]="cart"></fa-icon></button>
                <fa-icon [icon]="search"></fa-icon>
                <fa-icon [icon]="heart"></fa-icon>
                <fa-icon [icon]="compare"></fa-icon>
               </div>
               </div>
               
              
               
            </div>
               <div class="price">
                  <div class="star">
                  <fa-icon [icon]="star"></fa-icon>
                  <fa-icon [icon]="star"></fa-icon>
                  <fa-icon [icon]="star"></fa-icon>
                  <fa-icon [icon]="star"></fa-icon>
                  <fa-icon [icon]="star"></fa-icon>
                </div>
                <div class="info">
                <p>{{item.title}}</p>
                <p>${{item.price}}</p>
              </div>
                
               </div>
             </div>
            }
          </div>
          <div class="ban">
            <div class="men">
                <img src="assets/banner27.png" alt="banner" height="200px" width="390px">
                <div class="b1">
                <button class="but">MEN</button>
            </div>
            </div>
            <div class="men">
                <img src="assets/banner28.png" alt="banner" height="200px" width="390px">
                <div class="b2">
                    <button class="but">WOMEN</button>
                </div>
            </div>
            <div class="men">
                <img src="assets/banner29.png" alt="banner" height="200px" width="390px">
                <div class="b3">
                    <button class="but">KID</button>
                </div>
            </div>
          </div>
          <div class="slides">
            <div class="first">
                <div class="head">
                    <h5>NEW PRODUCTS</h5>
                    
                    <button (click)="togglecontent1()" class="toogle"><fa-icon [icon]="previous" ></fa-icon></button>
                    <button (click)="togglecontent1()" class="toogle"><fa-icon [icon]="next" ></fa-icon></button>
                </div>
                <div class="body">
                    @if (content1) {
                    <div class="pre">
                        <div class="pro">
                            <img src="assets/s1.jpg" alt="tool" height="150px" width="150px">
                            <div class="detail">
                                <p>Shoes 1</p>
                                <h4>$450.00</h4>
                            </div>
                        </div>
                        <div class="pro">
                            <img src="assets/s2.jpg" alt="tool" height="150px" width="150px">
                            <div class="detail">
                                <p>Shoes 2</p>
                                <h4>$420.00</h4>
                            </div>
                        </div>
                        <div class="pro">
                            <img src="assets/s3.jpg" alt="tool" height="150px" width="150px">
                            <div class="detail">
                                <p>Shoes 3 </p>
                                <h4>$532.00</h4>
                            </div>
                        </div>
    
                    </div>
                    }
                    @if (content1 == false) {
                    <div class="pre">
                        <div class="pro">
                            <img src="assets/s4.jpg" alt="tool" height="150px" width="150px">
                            <div class="detail">
                                <p>Shoes 4</p>
                                <h4>$408.00</h4>
                            </div>
                        </div>
                        <div class="pro">
                            <img src="assets/s5.jpg" alt="tool" height="150px" width="150px">
                            <div class="detail">
                                <p>Shoes 5</p>
                                <h4>$612.00</h4>
                            </div>
                        </div>
                        <div class="pro">
                            <img src="assets/s6.jpg" alt="tool" height="150px" width="150px">
                            <div class="detail">
                                <p>Shoes 6</p>
                                <h4>$465.00</h4>
                            </div>
                        </div>
    
                    </div>
                    }
                </div>
            </div>
            <div class="first">
                <div class="head">
                    <h5>SELL PRODUCTS</h5>
                    
                    <button (click)="togglecontent2()" class="toogle"><fa-icon [icon]="previous" ></fa-icon></button>
                    <button (click)="togglecontent2()" class="toogle"><fa-icon [icon]="next" ></fa-icon></button>
                </div>
                <div class="body">
                    @if (content2) {
                    <div class="pre">
                        <div class="pro">
                            <img src="assets/s1.jpg" alt="tool" height="150px" width="150px">
                            <div class="detail">
                                <p>Shoes 1</p>
                                <h4>$450.00</h4>
                            </div>
                        </div>
                        <div class="pro">
                            <img src="assets/s2.jpg" alt="tool" height="150px" width="150px">
                            <div class="detail">
                                <p>Shoes 2</p>
                                <h4>$420.00</h4>
                            </div>
                        </div>
                        <div class="pro">
                            <img src="assets/s3.jpg" alt="tool" height="150px" width="150px">
                            <div class="detail">
                                <p>Shoes 3 </p>
                                <h4>$532.00</h4>
                            </div>
                        </div>
    
                    </div>
                    }
                    @if (content2 == false) {
                    <div class="pre">
                        <div class="pro">
                            <img src="assets/s4.jpg" alt="tool" height="150px" width="150px">
                            <div class="detail">
                                <p>Shoes 4</p>
                                <h4>$408.00</h4>
                            </div>
                        </div>
                        <div class="pro">
                            <img src="assets/s5.jpg" alt="tool" height="150px" width="150px">
                            <div class="detail">
                                <p>Shoes 5</p>
                                <h4>$612.00</h4>
                            </div>
                        </div>
                        <div class="pro">
                            <img src="assets/s6.jpg" alt="tool" height="150px" width="150px">
                            <div class="detail">
                                <p>Shoes 6</p>
                                <h4>$465.00</h4>
                            </div>
                        </div>
    
                    </div>
                    }
                </div>
            </div>
            <div class="first">
                <div class="head">
                    <h5>FEATURE PRODUCTS</h5>
                    
                    <button (click)="togglecontent3()" class="toogle"><fa-icon [icon]="previous" ></fa-icon></button>
                    <button (click)="togglecontent3()" class="toogle"><fa-icon [icon]="next" ></fa-icon></button>
                </div>
                <div class="body">
                    @if (content3) {
                    <div class="pre">
                        <div class="pro">
                            <img src="assets/s1.jpg" alt="tool" height="150px" width="150px">
                            <div class="detail">
                                <p>Shoes 1</p>
                                <h4>$450.00</h4>
                            </div>
                        </div>
                        <div class="pro">
                            <img src="assets/s2.jpg" alt="tool" height="150px" width="150px">
                            <div class="detail">
                                <p>Shoes 2</p>
                                <h4>$420.00</h4>
                            </div>
                        </div>
                        <div class="pro">
                            <img src="assets/s3.jpg" alt="tool" height="150px" width="150px">
                            <div class="detail">
                                <p>Shoes 3 </p>
                                <h4>$532.00</h4>
                            </div>
                        </div>
    
                    </div>
                    }
                    @if (content3 == false) {
                    <div class="pre">
                        <div class="pro">
                            <img src="assets/s4.jpg" alt="tool" height="150px" width="150px">
                            <div class="detail">
                                <p>Shoes 4</p>
                                <h4>$408.00</h4>
                            </div>
                        </div>
                        <div class="pro">
                            <img src="assets/s5.jpg" alt="tool" height="150px" width="150px">
                            <div class="detail">
                                <p>Shoes 5</p>
                                <h4>$612.00</h4>
                            </div>
                        </div>
                        <div class="pro">
                            <img src="assets/s6.jpg" alt="tool" height="150px" width="150px">
                            <div class="detail">
                                <p>Shoes 6</p>
                                <h4>$465.00</h4>
                            </div>
                        </div>
    
                    </div>
                    }
                </div>
            </div>
            <div class="first">
                <div class="head">
                    <h5>BEST PRODUCTS</h5>
                    
                    <button (click)="togglecontent4()" class="toogle"><fa-icon [icon]="previous" ></fa-icon></button>
                    <button (click)="togglecontent4()" class="toogle"><fa-icon [icon]="next" ></fa-icon></button>
                </div>
                <div class="body">
                    @if (content4) {
                    <div class="pre">
                        <div class="pro">
                            <img src="assets/s1.jpg" alt="tool" height="150px" width="150px">
                            <div class="detail">
                                <p>Shoes 1</p>
                                <h4>$450.00</h4>
                            </div>
                        </div>
                        <div class="pro">
                            <img src="assets/s2.jpg" alt="tool" height="150px" width="150px">
                            <div class="detail">
                                <p>Shoes 2</p>
                                <h4>$420.00</h4>
                            </div>
                        </div>
                        <div class="pro">
                            <img src="assets/s3.jpg" alt="tool" height="150px" width="150px">
                            <div class="detail">
                                <p>Shoes 3 </p>
                                <h4>$532.00</h4>
                            </div>
                        </div>
    
                    </div>
                    }
                    @if (content4 == false) {
                    <div class="pre">
                        <div class="pro">
                            <img src="assets/s4.jpg" alt="tool" height="150px" width="150px">
                            <div class="detail">
                                <p>Shoes 4</p>
                                <h4>$408.00</h4>
                            </div>
                        </div>
                        <div class="pro">
                            <img src="assets/s5.jpg" alt="tool" height="150px" width="150px">
                            <div class="detail">
                                <p>Shoes 5</p>
                                <h4>$612.00</h4>
                            </div>
                        </div>
                        <div class="pro">
                            <img src="assets/s6.jpg" alt="tool" height="150px" width="150px">
                            <div class="detail">
                                <p>Shoes 6</p>
                                <h4>$465.00</h4>
                            </div>
                        </div>
    
                    </div>
                    }
                </div>
            </div>
          </div>
          <div class="size">
            <button class="s-button">SIZE 06</button>
            <button class="s-button">SIZE 07</button>
            <button class="s-button">SIZE 08</button>
            <button class="s-button">SIZE 09</button>
            <button class="s-button">SIZE 10</button>
          </div>
          <div class="heading">
            <h1>Special Products</h1>
            <div class="line"></div>
        </div>
        <div class="nav">
            <a routerLink="/shoes/bestseller" routerLinkActive="active">BEST SELLERS</a>
            <a routerLink="/shoes/newarrival" routerLinkActive="active">NEW ARRIVALS</a>
            <a routerLink="/shoes/sale" routerLinkActive="active">ON SALE</a>
            <a routerLink="/shoes/featured" routerLinkActive="active">FEATURED PRODUCTS</a>
            
            
           </div>
           <div class="change">
            <router-outlet></router-outlet>
           </div>
           <div class="heading">
            <h1>FROM THE BLOG</h1>
            <div class="line"></div>
        </div>
        <div class="blogs">
            <div class="card">
              <img src="assets/b25.jpg" alt="img">
              <div class="data">
                <h5>25 January 2018</h5>
                <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h4>
                <p>by john Dio, 2 comments</p>
              </div>
            </div>
            <div class="card">
              <img src="assets/b26.jpg" alt="img">
              <div class="data">
                <h5>26 January 2018</h5>
                <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h4>
                <p>by john Dio, 2 comments</p>
              </div>
            </div>
            <div class="card">
              <img src="assets/b27.jpg" alt="img">
              <div class="data">
                <h5>27 January 2018</h5>
                <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h4>
                <p>by john Dio, 2 comments</p>
              </div>
            </div>
          </div>
</div>
